<h2>ADD TODO</h2>
<div class="form-group">
    <label for="todoItem" class="text-primary"><strong>todo Item</strong></label>
    <input #todoItem type="text" class="form-control">
</div>
<div class="form-group">
    <label for="todoItem" class="text-primary"><strong>Is Confirm</strong></label>
    <select class="form-control" #isComplete>
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
</div>
<div class="form-group">
    <button 
    (click)="onAddtodo()"
    mat-raised-button  color="primary" class="w-100" >Add Todo</button>
</div>
