<ul class="list-group" *ngIf="gettodoarr.length > 0; else noData">
    <li *ngFor="let todo of gettodoarr; trackBy:trackByfun" 
    [ngClass]="{
        'completedTask' : todo.isComplete
        }"
    class="list-group-item d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <mat-checkbox [checked]="todo.isComplete" 
            (change)="isCheckChange($event, todo)"
            class="mr-3 align-self-center">
            </mat-checkbox>
            <strong>{{todo.todoItem}}</strong>
        </div>
        <div>
            <button 
            (click)="onEdit(todo)"
            mat-mini-fab color="primary" class="mr-3">
                <mat-icon>edit</mat-icon>
            </button>

            <button 
            (click)="onRemove(todo.todoId)"
            mat-mini-fab color="warn">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </li>
</ul>
<ng-template #noData>
    <p class="alert alert-info">No date is added Yet!!! & local storage is empty right now!!!</p>
</ng-template>